<div class="big-container product-manage-wrapper flexed-item">
  <form method="POST" class="add-product-form" action="/product_edit/{{edit._id}}" enctype="multipart/form-data">
    <h3 class="form-title"> Edit Sneaker</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-name" class="label-name label">Model name</label>
      <input name="name" type="text" class="input-text input" value="{{edit.name}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-ref" class="label-ref label">Réf.</label>
      <input name="ref" type="text" class="input-text input" value="{{edit.ref}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-size" class="label-ref label">Size</label>
      <input name="size" type="number" class="input-text input" value="{{edit.size}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-descr" class="label-descr label">Description</label>
      <input name="description" type="text" class="input-text input" value="{{edit.description}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-price" class="label-price label">Price</label>
      <input name="price" type="number" class="sneacker-price input" min="1" value="{{edit.price}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-price" class="label-price label">Image</label>
      <input name="image" value="{{edit.image.alt}}" name="image" type="file" class="sneacker-price input" min="1">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-main-cat" class="label-main-cat label">Main category</label>
      <select name="category" id="main_category" class="select">
        <option value="">{{edit.category}}</option>
        <option value="">Men</option>
        <option value="">Women</option>
        <option value="">Kids</option>
      </select>
    </div>
    <div class="form-item-wrapper flexed-item">
      <label class="label">Tags</label>
      <select name="sneacker-secondary-cat" id="secondary_category" class="select">
        <option value="">Choose Secondary Category...</option>
        <option value="">Friendly</option>
        <option value="">Urban style</option>
        <option value="">Dope</option>
      </select>
    </div>
    <button class="button-primary add-sneacker-btn">Add to collection</button>
  </form>
</div>